.video-container {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 90px 1fr 120px;

  grid-template-areas: 
  "header header header header header"
  "video video video video side"
  "footer footer footer footer footer";

  row-gap: 8px;
  padding: 8px;
  width: 100%;
}

.video-container__header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14111d;
  font-size: 1.5rem;
  margin: 4px;
}

.video-container__video {
  grid-area: video;
  text-align: left;
  margin: 4px;
}

.video-container__footer {
  grid-area: footer;
  text-align: left;
  padding: 12px;
  background-color: #14111d;
  border-radius: 0.4rem;
  margin: 4px;
}

.video-container__side {
  grid-area: side;
}

