video {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-width: 50%;
}

.video-container {
  display: grid;
  width: 100%;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 90px 2fr 1fr;

  grid-template-areas: 
  "header header header header"
  "video video video side"
  "footer footer footer footer";

  row-gap: 8px;
  padding: 8px;
}

.video-container__video-header {
  grid-area: header;
}

.video-container__video-area {
  grid-area: video;
  text-align: left;
  padding: 8px;
}

.video-container__video-footer {
  grid-area: footer;
  text-align: left;
  padding: 8px;
}

.video-container__video-side {
  grid-area: side;
}

