.sidebar-container {
  display: flex;
  width: 250px;
  background-color: #14111d;
}

.sidebar__line {
  display: flex;
  flex-direction: column;
}

.sidebar__line-item:hover {
  background-color: #b40d45;
}

.sidebar__line-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: initial;
  
  margin: 2px 8px;
  padding: 6px 12px;
  border-radius: 4px;
  background: #e41057; 
  color: white;
  border: none;
  font-size: 1.1em;
}

.icon {
  padding: 0 8px;
}

.title {
  font-size: 1.1em;
}