.sidebar-container {
  display: flex;
  width: 250px;
  background-color: #14111d;
}

.sidebar__line {
  display: flex;
  flex-direction: column;
}

.sidebar__line-item:hover {
  background-color: #b40d45;
}

.sidebar__line-item.active {
  border-left: solid 4px #ffffff;
}

.sidebar__line-item {
  border-left: solid 4px #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: initial;
  
  margin: 2px 8px;
  padding: 6px 12px;
  border-radius: 4px;
  background: crimson;
  color: white;
  border: none;
  font-size: 1.1em;

  transition: all 150ms ease;
  transform: scale(1);
}

.sidebar__line-item:active {
  transform: scale(1.1);
}

.icon {
  padding: 0 8px;
}

.visualized {
  color: lightyellow;
}

.watched {
  color: lightgreen;
}

.title {
  font-size: 1.1em;
}