.sidebar-container {
  display: flex;
  width: 250px;
  background-color: #14111d;
  overflow-y: auto;
}

.sidebar__title {
  display: flex;
  align-items: center;
  border: solid 1px #222;
  cursor: pointer;
}

.sidebar__title-text {
  font-size: 1em;
  margin: 8px auto;
  margin-left: 14px;
}

.sidebar__title-icon {
  margin: 8px;
}

.sidebar__item {
  display: flex;
  flex-direction: column;
}

.sidebar__item-btn:hover {
  background-color: #b40d45;
}

.sidebar__item-btn.active {
  border-left: solid 4px #ffffff;
}

.sidebar__item-btn {
  border-left: solid 4px #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: initial;
  
  margin: 2px 8px;
  padding: 8px;
  border-radius: 4px;
  background: crimson;
  color: white;
  border: none;
  font-size: 1.1em;

  transition: all 150ms ease;
  transform: scale(1);
}

.sidebar__item-btn:active {
  transform: scale(1.1);
}

.sidebar__item-icon {
  padding: 0 8px;
}

.sidebar__item--visualized {
  color: lightyellow;
}

.sidebar__item--watched {
  color: lightgreen;
}